.block-red{
    display: flex;
    background: red;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 40px;
    width: 760px, auto;
    /*line-height: 40px;*/
    
    

}
.block-green{
    
    background: green;
    color: white;
    text-align: center;
    margin: 0;
    height: 80px;
    width: 760px, auto;
    line-height: 80px;

}
.block-black{
    
    background: black;
    color: white;
    text-align: center;
    width: 760px, auto;

}