.flexbox-container{
    display: flex;
    background: blue;
    font-size: 40px;
    flex-wrap: wrap;
    margin: 10px;      
}

.flexbox-item{
    margin: 20px;
    padding: 20px;
    background: white;
    width: 200px;
    height: auto;
    text-align: center;
    line-height: 100px;
    flex-wrap: wrap;
}

.flexbox-container-rowreverse{
    display: flex;
    flex-direction: row-reverse;
    background: blue;
    font-size: 40px;
    margin: 10px;
    flex-wrap: wrap-reverse;
}

.flexbox-container-column{
    display: flex;
    flex-direction: column;
    background: blue;
    font-size: 40px;
    margin: 10px;
}

.flexbox-container-columnreverse{
    display: flex;
    flex-direction: column-reverse;
    background: blue;
    font-size: 40px;
    margin: 10px;
}
.flexbox-nowrap{
    display: flex;
    flex-wrap: nowrap;
    background: blue;
    font-size: 40px;
    margin: 10px;
}
.flexbox-container-none{
    display: flex;
    flex-wrap: nowrap;
    background: blue;
    font-size: 40px;
    margin: 10px;
    height: 600px;
    align-items: st;
}
.flexbox-container-flexstart{
    display: flex;
    flex-wrap: nowrap;
    background: blue;
    font-size: 40px;
    margin: 10px;
    height: 600px;
    align-items: flex-start;
}
.flexbox-container-flexend{
    display: flex;
    flex-wrap: nowrap;
    background: blue;
    font-size: 40px;
    margin: 10px;
    height: 600px;
    align-items: flex-end;
}
.flexbox-container-center{
    display: flex;
    flex-wrap: nowrap;
    background: blue;
    font-size: 40px;
    margin: 10px;
    height: 600px;
    align-items: center;
}